@using Web.UI.Models
@model Web.UI.Models.RegisterViewModel
@{
    ViewBag.Title = "Birthday | Registro";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Birthday | Registro</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <!-- Validacion del ASP MVC -->
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/Estilos/dist/css/AdminLTE.min.css">
    <!-- Para fecha -->
    @*<link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Scripts/bootstrap.js">
    <link rel="stylesheet" href="~/Scripts/bootstrap-datepicker.js">
    <link rel="stylesheet" href="~/Scripts/respond.js">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><span class="fa fa-birthday-cake margin-r-5"></span><b>Birthday</b>IS</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Registrar de Usuario o @Html.ActionLink("Iniciar Sessión", "Login", new { @class = "btn btn-primary" })</p>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <!-- Nombre de Usuario / Username -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control", placeholder = "Usuario" })
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Nombre -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Nombre" })
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Apellido Paterno -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", placeholder = "Apellido Paterno" })
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Fecha de Nacimiento dd/mm/yyyy -->
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div><!--
                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>-->
                        @Html.TextBoxFor(m => m.FecNacimiento, new { id = "FechaNacimientoDate", @class = "form-control datepicker", data_inputmask = "'alias': 'DD/MM/YYYY'", placeholder = "Fecha de Nacimiento" })
                        @*@Html.TextBoxFor(m => m.FechaRegistro, new { @class = "form-control", placeholder = "Fecha de Nacimiento" })*@
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Cargo del Usuario -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                        @Html.DropDownListFor(m => m.idcargo, new SelectList(Model.ListaCargos, "Id", "gls_Cargo"), "Cargo del Usuario", new { @class = "form-control select2" })
                    </div><!-- /.input group -->
                </div><!-- /.form-group -->

                <!-- Correo electronico -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo electronico" })
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Contrasenia -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <!-- Check de confirmacion -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "confirmar password" })
                    </div><!-- /.input group -->
                </div><!-- /.form group -->


                <div class="form-group">
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Registrar" />
                    </div>
                </div>
            }
            <!--Ya tengo una cuenta Html.ActionLink("Iniciar Sessión", "Login", new { class = "btn btn-primary" })-->
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    @*<script src="~/Content/Estilos/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--<script src="~/Content/bootstrap-datetimepicker-build.less"></script>-->
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
            $(function () {
                $('#FechaNacimientoDate').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            });
    </script>
</body>
</html>